<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaofei.cart.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="com.xiaofei.common.cart.entity.CartEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="check" column="check" jdbcType="BOOLEAN"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="skuId" column="sku_id" jdbcType="BIGINT"/>
            <result property="defaultImage" column="default_image" jdbcType="VARCHAR"/>
            <result property="skuName" column="sku_name" jdbcType="VARCHAR"/>
            <result property="saleAttr" column="sale_attr" jdbcType="VARCHAR"/>
            <result property="skuPrice" column="sku_price" jdbcType="DECIMAL"/>
            <result property="buyNum" column="buy_num" jdbcType="INTEGER"/>
            <result property="totalSkuPrice" column="total_sku_price" jdbcType="DECIMAL"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,`check`,
        spu_id,sku_id,default_image,
        sku_name,sale_attr,sku_price,
        buy_num,total_sku_price,add_time
    </sql>
</mapper>
